.top{
    background-color:black;
    width: 100%;
    height: 28px;
}
.top h2{
    color:orange;
    display: flex;
    justify-content:right;
    font-size: 25px;
    margin-right: 15px;
    font-family:serif;
}
.heading{
    width: 100%;
}
.anc img{
    height: 63px;
    width: 73px;
}
.anc ul li {
    display: inline-block;
}
.anc ul li a{
    text-decoration: none;
    margin:68px;
    color:orange ;
}
.anc ul{
    margin-top: 20px;
    height: 15px;
}
.anc h4{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content:left;
}
.anc a:hover{
    color: black;
}
 